.section__team {
  background-color: $background-light;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__card {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - $flex-gap);
    display: flex;
    flex-wrap: nowrap;
    margin-left: calc(-1 * $flex-gap);
    margin-top: calc(-1 * $flex-gap);
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    margin-left: $flex-gap;
  }

  &:first-child {
    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
  }
}
.card__thumb {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.team__name {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.social--team {
  @include centeredFlex(flex);
  @extend %list;
}

.social__ellipce--team {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  border-radius: 50%;
  padding: 12px;
  list-style: none;
  @include centeredFlex(flex);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .social__item--team &:hover,
  .social__item--team &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }
}

.social__item--team:not(:last-child) {
  margin-right: 10px;
}

.social__icon--team {
  fill: #afb1b8;

  .social__ellipce--team:hover &,
  .social__ellipce--team:focus & {
    fill: #ffffff;
  }
}
