$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-origin: #2f303a;
$main-font: 'Roboto', sans-serif;
$flex-gap: 30px;
$filters-gap: 8px;
$button-hover-color: #188ce8;
$img-path: '..\images';
$background-light: #f5f4fa;
$fill-color: #afb1b8;
